
body{
    background-color: #ecf3f1;
}
/* .main-header {
    display: flex;
    justify-content: space-around;
    position: fixed;
    z-index: 999;
    background: #ecf3f1;
    text-align: center;
    width: 100%;
    height: 24%; 
} */ 
.main-header

 {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    position: fixed;
    width: 100%;
    z-index: 999;
    background:#ecf3f1;
}
   .nav {
    display: flex;
    gap: 20px;
    list-style: none;
}
a.nav-link {
    text-decoration: none;
}
.menu-btns {
    margin-top: 16px;
}
.menu .menu-btns {
    display: none;
}
.icon-menu {
    display: none;
}
/* section */

.experience-card {
    border: 2px solid rgb(0 0 0 / 5%);
    padding: 40px;
    border-radius: 20px;
    background: #FFF;
    margin: 10px;
    height: 100%;
}
.education-card{
 border: 2px solid rgb(0 0 0 / 5%);
    padding: 40px;
    border-radius: 20px;
    background: #FFF;
    margin: 10px;
    height: 100%;
}

section.about-area {
    padding-top: 125px;
}








@media (max-width:991px) {
.menu-btns {
    display: none;
}
.icon-menu {
    display: block;
}
.nav {
    display: contents;
}
      .menu {
        position: absolute;
        /* left: 0; */
        top: 44px;
        width: 200px;
        background: #d7c7c7;
        text-align: center;
        padding: 20px;
        border: 2px solid #ccc;
        border-radius: 20px;
    }
    .menu-btns.m-view {
    display: block;
}
    }




